@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sofia";
  src: url('../public/fonts/SofiaProRegular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sofia";
  src: url('../public/fonts/SofiaProBold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Sofia";
  src: url('../public/fonts/SofiaProLight.otf');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Sofia";
  src: url('../public/fonts/sofiapro-semibold.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url(../public/fonts/Lato-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url(../public/fonts/Lato-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Sofia", "Lato", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



.greyed-bg {
  background: #00000050;
}

.box {
  width: 70%;
  margin: 0 auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
}

.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  font-size: 20px;
}